.delete-button {
  float: right;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.delete-icon {
  width: 16px;
  height: 16px;
  background-color: red;
  mask: url('https://raw.githubusercontent.com/tabler/tabler-icons/master/icons/trash.svg') no-repeat center;
  mask-size: contain;
  -webkit-mask: url('https://raw.githubusercontent.com/tabler/tabler-icons/master/icons/trash.svg') no-repeat center;
  -webkit-mask-size: contain;
}
